nav > ul {
    background-color: rgb(255, 199, 114);
    list-style: none;   /* 移除項目符號 */
    margin: auto;
    padding: 0;
	align-items: center;
    border-radius:20px; 
    width:fit-content;
}

nav a {
    color: inherit; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;  /* 移除超連結底線 */
}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav li:hover {
    background-color: rgb(255, 159, 103);
    color: rgb(255, 255, 255);
    border-radius:20px; 
}

.flex-nav {
    display: flex;
    justify-content: center;
}

.inline-block-nav {
    text-align: center;
    font-size: 0;   /* 移除 <li> 之間的空隙 */
}

.inline-block-nav > li {
    display: inline-block;
}

a {
	font-family: BugMaruGothic;
}

.body{
    background-color:rgb(86, 255, 204)
}

center a {
	color: white;
    font-size: large;
}
